/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}

.description {
  text-align: justify;
  padding: 1.5rem 0.5rem;
  font: inherit;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% -15rem);
}

h1, h2 {
  color: #333333;
}

.btn{
  color: white;
  font: inherit;
  border: 1px solid #800040;
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: #800040;
  border-radius: 4px;
}
.btn-complete {
  color: white;
  font: inherit;
  border: 1px solid lightgreen;
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: lightgreen;
  border-radius: 4px;
}

.btn-complete:hover {
  background-color: transparent;
  border-color: inherit;
  color: lightgreen;
}
.btn:hover{
  background-color: transparent;
  color: #800040;
  border-color: inherit;
}

.btn--alt {
  border-color: inherit;
  background-color: grey;
  color: white;
}
.btn--alt:hover {
  border-color: grey;
  color: grey;
  background-color: white;
}

.card {
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 15px 35px grey;
  padding: 1rem;
  width: 30rem;
}

.actions {
  text-align: right;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px
}

.btn {
  display: inline-block;
  background: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}
.tasks {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px; 
  cursor: pointer
}

.tasks.reminder {
  border-left: 5px solid green;
}

.tasks h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check  label {
  flex: 1;
}

.form-control-check  input {
  flex: 2;
  height: 20px;
}
footer {
  margin-top:30px;
  text-align: center;
}